includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-ignores.neon

parameters:
    level: 5
    paths:
        - src
    parseModelCastsMethod: true
    databaseMigrationsPath:
        - database/migrations
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
